h1 {
  color: rgb(21, 115, 255);
}

li {
  display: flex;
  align-items: center;
}

li input[type="checkbox"] {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

li p {
  margin-right: 5px;
}

li button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked {
  text-decoration: line-through;
}
